<head>
	<meta charset="utf-8">
	{% if page.title %}
		<title>{{ page.title }} | Precisamento</title>
	{% else %}
		<title>Presicamento</title>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/layout.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/posts.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/typography.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/code.css">
</head>