---
layout: extension
---
{{content}}
<!--
{% if site.functions %}

	<h1 class="page-title">{{ page.title }}</h1>
	<div class="functions">
		<h3 class="functions-name">Functions</h3>
		<ul class="functions-list">
			<li>
				<a href="{{ site.baseurl }}/extensions/{{ page.extension }}">Home</a>
			</li>
			{% for func in site.functions %}
				{% if func.extension == page.extension %}
					<li class="functions-list-item">
						<a href="{{ func.permalink }}">{{ func.title }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="markdown-body">
		<article class="page">
		
			{{content}}

		</article>
	</div>

{% else %}

	<article class="page">
		{% include page-title.html %}
		{{content}}
	</article>

{% endif %}-->